/* icons.module.css */
.heart {
  display: inline-block;
  width: 30px;
  aspect-ratio: 1;
  border-image: radial-gradient(var(--heart) 69%, #0000 70%) 84.5%/50%;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}