/* icons.module.css */

.navbar__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.navbar__list {
  position: relative;
}

.navbar__menu__list {
  position: relative;
  list-style: none;
}
